*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Cuprum", "Arial", sans-serif;
  /* font-family: 'PT Sans', sans-serif; */
  /*второй шрифт*/
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
}

.header {
  background-color: #f4f7f9;
	min-height: 320px;
	padding-bottom: 60px;
}

h3 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

/* Контейнер */
.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

/* стили верхнего бара */
.top_bar_wrap {
  background-color: #293449;
}

.top_bar {
  display: flex;
  height: 42px;
  text-align: center;
}

.logo {
  display: block;
  width: 220px;
  height: 42px;
  background-color: #ee3643;
  color: #fff;
  text-align: center;
  padding-top: 13px;
  box-shadow: #b52933 0 5px;
}

.logo img {
  height: 19px;
}

.logo:hover {
  background-color: #ca2c37;
}

.top_bar form {
  position: relative;
}

.header-search {
  width: 270px;
  height: 42px;
  padding-left: 50px;
  font: inherit;
  color: #000;
  background-color: #293449;
  border: 0;
}

.header-label-search svg {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px;
  opacity: 0.3;
  cursor: text;
}

.header-search:hover {
  background-color: #212a3a;
}

.header-search:focus {
  background-color: #ffffff;
}

.header-search:hover+svg {
  opacity: 1;
}

.header-search:focus+svg path {
  fill: #ee3643;
}

.top_item {
  position: relative;
}

.top_item_link {
  display: block;
  width: 150px;
  height: 42px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding-top: 12px;
}

/* Декоративные элементы top_bar */
.top_item__mark::before {
  content: "";
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='16'%3e%3cpath fill='%23FFF' d='M14 15c0 .55-.368.741-.818.426l-5.363-3.765c-.45-.315-1.187-.315-1.637 0L.818 15.426C.368 15.741 0 15.55 0 15V1c0-.55.45-1 1-1h12c.55 0 1 .45 1 1v14z'/%3e%3c/svg%3e");
  width: 14px;
  height: 16px;
  position: absolute;
  left: 13px;
  bottom: 13px;
  opacity: 0.3;
}

.top_item__cart::before {
  position: absolute;
  content: "";
  background: url(../img/icon-cart.svg) no-repeat;
  width: 14px;
  height: 16px;
  left: 13px;
  bottom: 13px;
  opacity: 0.3;
}

.top_item__cart-inside {
  background-color: #ee3643;
}

/* top_bar состояния */
.top_item_search form:hover::before {
  opacity: 1;
  color: #fff;
}

.top_item__mark:hover::before {
  opacity: 1;
  color: #fff;
}

.top_item__cart:hover::before {
  opacity: 1;
  color: #fff;
}

.top_item:hover {
  background-color: #212a3a;
}

.order_btn {
  width: 150px;
  font-size: 17px;
  line-height: 18px;
  text-decoration: none;
  color: #fff;
  background-color: #63a63e;
}

.order_btn:hover {
  background-color: #5fbb2d;
}

.order_btn:active {
  background-color: #518534;
}

/* блок контактов */
.header_main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 47px;
  margin-top: 47px;
}

.header_description {
  width: 200px;
	margin-left: 70px;
	align-self: baseline;
}

.description {
  font-weight: normal;
  font-style: italic;
  font-size: 16px;
  color: #ee3643;
  line-height: 23px;
  padding: 0;
	margin: 0;
	padding-top: 10px;
}

.header_contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.top_tel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 45px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #fff;
  padding: 0;
  margin-bottom: 10px;
}

.top_tel::before {
  content: "";
  position: absolute;
  background: url(../img/icon-phone.svg) no-repeat;
  width: 19px;
  height: 19px;
  color: #f4f7f9;
  left: 15px;
}

.top_adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

/* блок авторизации */
.header_login {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.enter::before {
  position: absolute;
  content: "";
  background-image: url(/img/icon-login.svg);
  width: 20px;
  height: 17px;
  left: 14px;
  opacity: 0.5;
}

.enter,
.sign-up {
  display: block;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  text-decoration: none;
  text-align: center;
  background-color: #fff;
  height: 45px;
}

.sign-up {
  width: 150px;
  text-align: center;
  line-height: 45px;
}

.enter {
  width: 121px;
  margin-right: 10px;
  padding-top: 13px;
  padding-left: 25px;
}

.enter:hover,
.sign-up:hover {
  color: #ee3643;
}

.enter:active,
.sign-up:active {
  color: rgba(0, 0, 0, 0.3);
}

.enter::before {
  content: "";
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='17'%3e%3cpath fill='%2332425C' d='M14.875 8.5L6 0v6H0v5h6v6z'/%3e%3cpath fill='%2332425C' d='M16.986 15.01h-5.027V17h5.027c2.178 0 3.004-1.81 3.029-3.026V3.028C19.99 1.811 19.164 0 16.986 0h-5.027v1.99h5.027c.839 0 .992.681 1.01 1.057v10.904c-.017.376-.171 1.059-1.01 1.059z'/%3e%3c/svg%3e");
}

.enter:hover::before {
  opacity: 1;
}

/* основное меню */


.nav {
  background-color: #32425c;
  box-shadow: 0 5px 0 0 #293449;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.nav_item {
  list-style: none;
  padding: 0;
}

.nav_link {
  font-size: 17px;
  line-height: 17px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 21px 31px;
}

.nav_item:hover {
  background-color: #293449;
}

.nav_item:active {
  background-color: #1d2739;
}

/* Основной контент
*
*
 */
/* центровщик */
.main {
	padding-top: 60px;
}

.main_container {
  width: 940px;
  margin: 0 auto;
}

.goods {
  display: flex;
  margin-bottom: 53px;
}

/* /////////////////// */
.main_left {
  min-width: 620px;
  min-height: 409px;
  margin-right: 20px;
}

.row_goods {
  display: flex;
  justify-content: space-between;
  width: 620px;
  margin-bottom: 20px;
}

.goods_item {
  width: 300px;
  position: relative;
  margin: 0;
  padding: 26px 100px 19px 23px;
}

.goods_materials {
  background-color: #ffbf47;
}

.goods_title {
  display: block;
  font-weight: bold;
  color: #fff;
  margin: 0;
  margin-bottom: 15px;
  white-space: pre-line;
}

.goods_btn {
  display: block;
  width: 135px;
  min-height: 38px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  padding: 12px 21px;
}

.goods_btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.goods_btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.goods_materials::after {
  content: "";
  position: absolute;
  width: 44px;
  height: 65px;
  top: 31px;
  right: 43px;
  opacity: 1;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='44' height='65'%3e%3cg fill='%23FFF'%3e%3cpath d='M37.91 30.438v10.869s.105 2.735-2.825 2.735c-3.069 0-3.125-2.735-3.125-2.735v-6.416c0-.24-.336-1.909-2.319-1.909-2.625 0-2.67 1.877-2.67 1.877V54.08s.029 1.863-2.464 1.863C22 55.943 22 53.96 22 53.96V40.016s0-2.945-3.805-2.945c-4.054 0-3.967 3.125-3.967 3.125v3.728s-.121 2.945-4.688 2.945-4.628-4.509-4.628-4.509V29.938C3.168 28.976 0 26.671 0 26.671v29.332S2.988 65 22 65s22-8.695 22-8.695V26.671c-2.938 2.829-6.09 3.767-6.09 3.767z'/%3e%3cpath d='M22 0C1.688 0 0 19.875 0 19.875v3.062C8.438 29.188 22 29 22 29s13.562.188 22-6.062v-3.062C44 19.875 42.312 0 22 0zm0 25c-11.75 0-14.312-2.375-14.312-2.375C13.938 19.75 22 19.875 22 19.875s8.062-.125 14.312 2.75c0 0-2.562 2.375-14.312 2.375zm0-12.375c-9.562 0-17.688 2.938-17.688 2.938C8.875 2.625 22 3.062 22 3.062s13.125-.438 17.688 12.5c0 0-8.126-2.937-17.688-2.937z'/%3e%3c/g%3e%3c/svg%3e");
  padding: 10px;
}

.goods_flag {
  position: absolute;
  width: 60px;
  height: 59px;
  text-indent: -10000px;
  background-image: url(/img/new-flag.png);
  z-index: 30;
  top: 0;
  right: 0;
}

.goods_tools {
  background-color: #3bbce3;
}

.goods_tools::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 61px;
  top: 33px;
  right: 28px;
  opacity: 1;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='75' height='61'%3e%3cpath d='M5.039 58.949S5.039 61 6.907 61h27.02s2.001-.184 2.001-1.984V47.942H5.039v11.007zM73.875 8.016H60.387c-.621-2.287-2.071-3.891-3.762-3.891h-7.542v12.75h7.542c1.69 0 3.141-1.604 3.762-3.891h13.488c.575 0 1.042-1.112 1.042-2.484s-.467-2.484-1.042-2.484zM2.103 0C.167 0 0 2.041 0 2.041v15.812c0 2.936 2.903 3.002 2.903 3.002h9.007c1.935 0 1.601 1.334 1.601 1.334s-2.469 13.01-2.735 15.211c-.267 2.203-1.868 3.604-1.868 3.604s-2.135 1.201-3.002 1.668-.867 2.201-.867 2.201h30.889v-.734c0-1.467-6.472-3.135-9.073-3.402-2.602-.266-2.068-2.002-2.068-2.002l1.067-7.805h3.002l1.134-7.873h-3.002l.331-2.737 8.609-.131c5.805-.601 10.008-4.07 10.008-4.07V4.109C41.333.84 33.993 0 33.993 0H2.103zM36 4.938v.031c0 .55-.45 1-1 1H5.031c-.55 0-1-.45-1-1v-.031c0-.55.45-1 1-1H35c.55 0 1 .45 1 1z' fill='%23FFF'/%3e%3c/svg%3e");
}

/*  Стили слайдера*/
.slider {
  width: 620px;
  height: 266px;
  background-color: #a1907c;
  position: relative;
  background-image: url(../img/slide1.jpg);
}

.slider_title {
  padding: 0;
  margin: 0;
  color: #fff;
  font: inherit;
  font-size: 36px;
  line-height: 36px;
  padding-top: 26px;
  padding-left: 24px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.slider_text {
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  padding-left: 25px;
}

.slider_btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='22' height='40'%3e%3cpath fill='%23FFF' d='M19.83-.035l2.089 2.099L4.13 19.947l17.847 17.939-2.09 2.099L-.048 19.947z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.slider_prev {
  top: 50%;
  left: 25px;
}

.slider_next {
  transform: rotate(180deg);
  top: 50%;
  right: 25px;
}

.main_right {
  width: 700px;
  height: 409px;
}

.slider_toggle {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	border: 2px solid #fff;
	background-color: #fff;
	position: absolute;
	top: 220px;
	left: 50%;
	padding: 2px;
}



.link_to_catalog {
	width: 195px;
	padding: 10px 45px;
	background-color: #ee3643;
	position: absolute;
	top: 205px;
	left: 25px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	border-radius: 2px;
}

.goods_discont {
  margin-bottom: 20px;
  background-color: #dc91d8;
}

.goods_discont::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 62px;
  top: 31px;
  right: 31px;
  opacity: 1;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='78' height='62'%3e%3cg fill='%23FFF'%3e%3cpath d='M16.125 29.749C7.22 29.749 0 36.968 0 45.875 0 54.78 7.22 62 16.125 62S32.25 54.78 32.25 45.875c.001-8.907-7.219-16.126-16.125-16.126zm0 23.433a7.306 7.306 0 01-7.307-7.307 7.307 7.307 0 1114.614 0 7.306 7.306 0 01-7.307 7.307zm44.729-7.308a8.062 8.062 0 00-8.062 8.062 8.062 8.062 0 1016.124 0 8.06 8.06 0 00-8.062-8.062zm0 13.126a5.063 5.063 0 11.002-10.126A5.063 5.063 0 0160.854 59z'/%3e%3cpath d='M77.898 49.727s-2.023-15.102-2.461-18.414c-.547-4.141-3.625-4.688-3.625-4.688L66 25.946V14h-3v5.833h-4v5.295L47.188 23.75S37.438 3.688 36.626 1.875 33.5 0 33.5 0 11.125 2.375 8.75 3 5.312 6.167 5.312 6.167c-2.308 6.37-2.311 17.296-2.266 20.255a23.328 23.328 0 0113.079-3.986c12.944 0 23.438 10.493 23.438 23.439 0 2.438-.373 4.789-1.064 7h10.164c.39-6.402 5.69-11.479 12.191-11.479s11.802 5.077 12.191 11.479H75c3.641 0 2.898-3.148 2.898-3.148zM23.083 19.833h-6.958V6.167h6.958v13.666zm10 0h-6.958V6.167h6.958v13.666zM53.016 36H49v-7h4.016v7zm7 0H56v-7h4.016v7zm7 0H63v-7h4.016v7z'/%3e%3c/g%3e%3c/svg%3e");
}

.goods_new {
  margin-bottom: 20px;
  background-color: #8ed78f;
}

.goods_new::after {
  content: "";
  position: absolute;
  width: 59px;
  height: 72px;
  top: 26px;
  right: 45px;
  opacity: 1;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='59' height='72'%3e%3cg fill='%23FFF'%3e%3cpath d='M58.34 20.545a2.997 2.997 0 00-2.396-1.195h-38.67l-2.475-7.385H3.058a3 3 0 100 6h7.424l13.5 40.285h25.159a3 3 0 100-6H28.299l-1.726-5.149h23.12a3.001 3.001 0 002.884-2.172l6.25-21.75a3.005 3.005 0 00-.487-2.634zm-7.781 9.681h-4.81V25.35h6.211l-1.401 4.876zm-17.617 0V25.35h6.807v4.875h-6.807zm6.807 6v4.875h-6.807v-4.875h6.807zM26.942 25.35v4.875h-6.023l-1.634-4.875h7.657zm-4.013 10.876h4.013v4.875h-2.379l-1.634-4.875zm22.82 4.875v-4.875h3.086l-1.401 4.875h-1.685z'/%3e%3ccircle cx='27.406' cy='66.094' r='5.781'/%3e%3ccircle cx='44.844' cy='66.094' r='5.781'/%3e%3cpath d='M29.335 9.699l7.547 5.492a1.986 1.986 0 002.818-.494c.646-.936.43-2.232-.48-2.895l-2.373-1.726 9.436-5.09L50.911 17h4.347L49.214 1.309A2.051 2.051 0 0048.037.126a1.97 1.97 0 00-1.643.109L33.146 7.382l-3.022-2.199a1.986 1.986 0 00-2.742.39l-8.481 10.798a2.176 2.176 0 00-.405.628h5.106l5.733-7.3z'/%3e%3c/g%3e%3c/svg%3e");
}

.goods_delivery {
  background-color: #ffc047;
}

.goods_delivery::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 63px;
  top: 32px;
  right: 31px;
  opacity: 1;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='78' height='63'%3e%3cg fill='%23FFF'%3e%3ccircle cx='25.983' cy='55.5' r='7.5'/%3e%3ccircle cx='59.982' cy='55.5' r='7.5'/%3e%3cpath d='M64 0H11.062c-3.188 0-3 3.125-3 3.125V8H3.469a3.469 3.469 0 100 6.938l28.085 1.84.196.043c-.761 3.197-8.938 3.805-8.938 3.805l-8.31.428H5.446a3.375 3.375 0 100 6.75l23.656 1.254c-.807 3.153-6.29 3.756-6.29 3.756l-14.751.76v15.615c0 3.188 2.564 3.812 2.564 3.812h2.099c1.173-6.261 6.659-11 13.259-11s12.085 4.739 13.259 11h7.404c1.174-6.261 6.66-11 13.26-11 6.601 0 12.086 4.739 13.26 11h1.709C77.812 53 78 48.938 78 48.938v-15.25C78 14.812 64 0 64 0zM52 23.938v-15h10.062l5.75 15H52z'/%3e%3c/g%3e%3c/svg%3e");
}

/*
Блок популярные товары
*/
.popular_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f5f0;
  margin-bottom: 21px;
}

.popular_title {
  display: block;
  padding: 0;
  margin: 0;
  padding: 30px 30px 35px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.popular_btn {
  display: block;
  width: 253px;
  background-color: #ee3643;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  padding: 14px 55px;
  margin-right: 24px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 2px;
}

.popular_goods_catalog {
  min-height: 318px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
}

.popular_producers_catalog {
  min-height: 310px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 85px;
}

.popular_producer_item {
  width: 220px;
  height: 145px;
  display: block;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
  position: relative;
}

.popular_producer_item a {
  width: 220px;
  height: 145px;
  display: inline-block;
  text-align: center;
}

.popular_producer_item a:hover {
  box-shadow: 0 10px 25px 0px rgba(41, 52, 73, 0.5);
  transition: ease 0.3s;
}

.popular_producer_item:hover {
  border-color: transparent;
}

.popular_producer_item:nth-child(4n) {
  margin-right: 0;
}

.popular_producer_item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services {
  width: 100%;
  background-color: #f4f7f9;
  margin-bottom: 82px;
}

.services_wrap {
  width: 940px;
  margin: 0 auto;
  padding-top: 68px;
  padding-bottom: 99px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.services_row2 {
  display: flex;
  justify-content: space-between;
  width: 620px;
}

.services_row1 {
  width: 940px;
  margin-bottom: 74px;
  margin-right: 80px;
}

.services_menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  margin-right: 80px;
}

.services_menu_item button {
  text-align: center;
  font-size: 21px;
  line-height: 30px;
  width: 240px;
  height: 61px;
  padding: 15px 0;
  color: #fff;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px 1px 0 0 #405069, inset 0px 1px 0 0 #405069;
  box-shadow: 0px 1px 0 0 #405069, inset 0px 1px 0 0 #405069;
  background-color: #32425c;
}

.services_menu_item:first-child button {
  background-color: #fff;
  color: #32425c;
  box-shadow: none;
}

.services_menu_item::after {
  content: "";
  position: absolute;
  background-image: url('../img/shadow.png');
  width: 10px;
  height: 279px;
  top: -25%;
  right: 0;
}

.services_title h3,
.services_description h3 {
  padding: 0;
  margin: 0;
  padding: 0 130px 0 0;
  font-size: 30px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}

.services_title p,
.services_description p {
  font-family: "PT Sans", Arial, sans-serif;
  padding-top: 38px;
  font-size: 13px;
  line-height: 24px;
}

.services_description h3 {
  color: #32425c;
}

.services_description::after {
  content: "";
  position: absolute;
  background-image: url(../img/car.png);
  width: 468px;
  height: 261px;
  top: 50%;
  right: 0;
  z-index: -1;
}

/* блок о компании */
.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.about_title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #000;
  padding: 0;
  margin: 0;
  margin-bottom: 39px;
  text-transform: uppercase;
}

.about_title p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  padding: 0;
  margin: 0;
}

.map_link {
  display: block;
  height: 158px;
  overflow: hidden;
  margin-bottom: 40px;
  margin-top: 36px;
}

.map_modal {
  display: none;
}

.map_modal_show {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 40;
}

.map_close {
  z-index: 50;
}

.about_logistic {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  list-style: none;
  display: flex;
  flex-direction: column;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	padding: 30px 0 37px 30px;
}

.about_logistic li {
  margin-bottom: 20px;
  position: relative;
}

.about_logistic li:last-of-type {
	margin-bottom: 0;
}

.about_logistic li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  left: -30px;
  top: 9px;
}


.red_btn {
  background-color: #ee3643;
  color: #fff;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  ;
}

.about_btn {
  display: block;
  padding: 14px 40px 12px 41px;
  width: 300px;
}

.write_us {
  display: block;
  width: 300px;
  padding: 14px 59px 12px 63px;
}

/* =======FOOTER NEW========= */
.footer {
  background-color: #32425c;
}

.footer_top {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footer_top_row1 {
  min-height: 68px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.logo_footer {
  width: 220px;
  height: 68px;
  display: block;
  background-color: #ee3643;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  line-height: 23px;
  text-align: center;
  padding: 0;
  margin: 0;
  padding: 20px 41px 25px;
  background-image: url(../img/logo-technomart.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 5px 0 0 #b52933;
}

.footer_menu_top {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.footer_menu_top li {
  padding: 0;
  padding-right: 60px;
}

.footer_menu_top li:last-child {
  margin-right: 0;
}

.footer_menu_link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
}

.footer_top_row2 {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  margin-bottom: 53px;
}

.footer_top_address {
  display: block;
  width: 340px;
  min-height: 50px;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.footer_top_tel {
  text-decoration: none;
  color: #fff;
}

.footer_menu_bottom {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.footer_menu_bottom li {
  margin-right: 60px;
}

.footer_menu_bottom a {
  color: #ffda96;
}

.footer_menu_bottom li:last-child {
  margin-right: 0;
}

.footer_menu_link:hover {
  text-decoration: underline;
}

.footer_menu_link:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer_menu_bottom .footer_menu_link:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer_bottom_wrap {
  background-color: #293449;
}

.footer_bottom {
  width: 940px;
  min-height: 107px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_rights {
  display: block;
  width: 240px;
  color: #fff;
}

.footer_social {
  display: flex;
  width: 135px;
  justify-content: space-around;
}

.social_link {
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
  padding: 0;
  margin: 0;
  padding-right: 3px;
}

.social_link:last-child {
  padding-right: 0;
}

.social_link_vk {
  background-image: url(../img/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social_link_fb {
  background-image: url(../img/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social_link_insta {
  background-image: url(../img/icon-insta.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social_link:hover {
  background-color: #ee3643;
}

.social_link:active {
  background-color: #ee3643;
}

.footer_feedback {
  display: block;
  font-size: 16px;
  line-height: 1.13;
  padding: 0;
  margin: 0;
  width: 135px;
  color: #fff;
}

.footer_feedback a {
  text-decoration: none;
  color: #ffd180;
}

.footer_feedback a:hover {
  text-decoration: underline;
}

.footer_feedback a:active {
  color: #ee3643;
  text-decoration: none;
}

.footer_dev {
  display: block;
  font-size: 16px;
  line-height: 1.13;
  padding: 0;
  margin: 0;
  width: 110px;
  color: #fff;
}

.footer_dev a {
  text-decoration: none;
  color: #ffd180;
}

.footer_dev a:hover {
  text-decoration: underline;
}

.footer_dev a:active {
  color: #ee3643;
  text-decoration: none;
}

/* СТРАНИЦА ТОВАРОВ */
.cart {
  background-color: #ee3643;
}

/* Блок информации клиента */
.user {
  min-width: 300px;
  min-height: 45px;
  background-color: #fff;
  font-size: 21px;
  display: flex;
  align-items: center;
}

.user_name {
  display: block;
  text-decoration: none;
  text-align: center;
  margin-left: 48px;
  margin-right: 36px;
  position: relative;
  color: #000;
}

.user_name::before {
  content: "";
  width: 21px;
  height: 17px;
  margin: 0;
  position: absolute;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='18'%3e%3cpath fill='%23c5c5c5' d='M17.881 14.166c-2.144-.735-4.256-1.666-5.207-2.39-.657-.501-.77-1.618-.517-2.415 1.118-.903 1.864-2.477 1.864-4.278C14.021 2.276 12.221 0 10 0S5.979 2.276 5.979 5.083c0 1.801.746 3.374 1.863 4.277.253.798.141 1.915-.517 2.416-.95.724-3.063 1.654-5.207 2.39S0 18 0 18h20s.025-3.099-2.119-3.834z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 2px;
  left: -34px;
}

.user_name:hover::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='18'%3e%3cpath fill='%2332425c' d='M17.881 14.166c-2.144-.735-4.256-1.666-5.207-2.39-.657-.501-.77-1.618-.517-2.415 1.118-.903 1.864-2.477 1.864-4.278C14.021 2.276 12.221 0 10 0S5.979 2.276 5.979 5.083c0 1.801.746 3.374 1.863 4.277.253.798.141 1.915-.517 2.416-.95.724-3.063 1.654-5.207 2.39S0 18 0 18h20s.025-3.099-2.119-3.834z'/%3e%3c/svg%3e");
  opacity: 1;
}

.user_logout {
  display: block;
  text-align: center;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='21' height='17'%3e%3cg fill='%23c5c5c5'%3e%3cpath d='M21 8.5L12.125 0v6h-6v5h6v6z'/%3e%3cpath d='M3.106 13.952V3.048c.018-.376.171-1.057 1.01-1.057h5.027V0H4.116C1.938 0 1.112 1.81 1.087 3.027v10.946C1.112 15.189 1.938 17 4.116 17h5.027v-1.99H4.116c-.839 0-.992-.683-1.01-1.058z'/%3e%3c/g%3e%3c/svg%3e");
  width: 20px;
  height: 17px;
}

.user_logout:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='21' height='17'%3e%3cg fill='%2332425c'%3e%3cpath d='M21 8.5L12.125 0v6h-6v5h6v6z'/%3e%3cpath d='M3.106 13.952V3.048c.018-.376.171-1.057 1.01-1.057h5.027V0H4.116C1.938 0 1.112 1.81 1.087 3.027v10.946C1.112 15.189 1.938 17 4.116 17h5.027v-1.99H4.116c-.839 0-.992-.683-1.01-1.058z'/%3e%3c/g%3e%3c/svg%3e");
}

.user_links {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  font-size: 16px;
}

.user_link {
  color: #32425c;
}

.user_link_orders {
  margin-left: 19px;
  margin-right: 30px;
  position: relative;
}

.user_link_orders::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  border: 2px solid #32425c;
  border-radius: 50%;
  left: 87px;
  top: 8px;
}

.user_link:hover {
  color: #ee3643;
}

.my_orders,
.my_cabinet {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.bread_crumbs {
  list-style: none;
  width: 380px;
  display: flex;
  justify-content: space-between;
  position: relative;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.bread_crumbs a {
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
  color: #000;
  text-decoration: none;
}

.bread_crumbs__index {
  display: inline-block;
  background: url(../img/icon-home.svg) no-repeat;
  background-position: 0 0;
  width: 30px;
  height: 20px;
  color: #ca2c37;
  position: absolute;
  left: 15px;
  top: 1px;
  z-index: 1;
}

.bread_crumbs li::after {
  content: ">";
  position: absolute;
  margin-left: 10px;
  z-index: 1;
  top: 0px;
  width: 15px;
  height: 15px;
}

.bread_crumbs li:last-child::after {
  content: none;
}

.title_main {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

/* Фильтр */
.main-left {
  width: 220px;
  margin-right: 20px;
}

.filter_title {
  display: block;
  width: 220px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000;
  background-color: #f7f3ec;
	padding-top: 10px;
	padding-bottom: 10px;
  padding-left: 18px;
  margin-bottom: 20px;
}

.price_range {
  height: 190px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 25px;
}

.price_range_title {
  display: block;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 11px;
}

.range_control {
  height: 80px;
  background-color: #f7f3ec;
  border: 1px solid transparent;
  margin-bottom: 9px;
}

.range_line {
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
  margin: 39px 20px;
}

.range_slider {
  width: 90%;
  height: 2px;
  background-color: #00ca74;
  position: relative;
}

.range_min {
  position: absolute;
  top: -8px;
  left: -4px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-image: url(../img/filter-button.svg);
  cursor: pointer;
}

.range_max {
  position: absolute;
  top: -8px;
  right: 0px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-image: url(../img/filter-button.svg);
  cursor: pointer;
}

.filter_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.min_price,
.max_price {
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.min_price input[type="text"] {
  width: 95px;
  height: 38px;
  text-align: center;
  padding: 0 2px;
}

.max_price input[type="text"] {
  width: 95px;
  height: 38px;
  text-align: center;
  padding: 0 2px;
}

.input_price {
  border: none;
  background-color: #f7f3ec;
}

.filter_price span {
  display: inline-block;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  padding: 0;
  margin: 0;
  padding: 0 10px;
}

/* Фильтр по производителям */
.filter_developers {
  min-height: 262px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 4px;
  margin-bottom: 26px;
}

.filter_developers_title {
  display: block;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.form_filter input[type="checkbox"]+label,
.form_filter input[type="radio"]+label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 20px;
  position: relative;
  padding-left: 32px;
  text-transform: uppercase;
}

.form_filter input[type="checkbox"]+label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: 0;
  top: -2px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23'%3e%3cpath fill='%23c5c5c5' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3e%3c/svg%3e");
}

.form_filter input[type="checkbox"]+label::after {
  content: none;
  position: absolute;
  left: 0;
  top: -2px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23'%3e%3cpath fill='%23c5c5c5' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3e%3cpath fill='%23c5c5c5' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0020 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3e%3c/svg%3e");
  width: 27px;
  height: 23px;
}

.form_filter input[type="checkbox"]+label:hover::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23'%3e%3cpath fill='%23b5b5b5' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3e%3c/svg%3e");
}

.form_filter input[type="checkbox"]:checked+label::after {
  content: "";
}

.form_filter input[type="checkbox"]:checked+label:hover::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23'%3e%3cpath fill='%23b5b5b5' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3e%3cpath fill='%23c5c5c5' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0020 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3e%3c/svg%3e");
}

/* Фильтр по питанию */
.filter_power {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 105px;
  margin-bottom: 60px;
}

.filter_power_title {
  display: block;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.form_filter input[type="radio"]+label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  top: -4px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25'%3e%3cpath fill='%23c5c5c5' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3e%3c/svg%3e");
}

.form_filter input[type="radio"]+label::after {
  content: none;
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  top: -4px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25'%3e%3cpath fill='%23c5c5c5' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3e%3ccircle fill='%23c5c5c5' cx='12.5' cy='12.5' r='4.5'/%3e%3c/svg%3e");
}

.form_filter input[type="radio"]:checked+label::after {
  content: "";
}

.form_filter input[type="radio"]+label:hover::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25'%3e%3cpath fill='%23b5b5b5' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3e%3c/svg%3e");
}

.form_filter input[type="radio"]:checked+label:hover::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25'%3e%3cpath fill='%23b5b5b5' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3e%3ccircle fill='%23b5b5b5' cx='12.5' cy='12.5' r='4.5'/%3e%3c/svg%3e");
}

.filter_on_btn {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  padding: 0;
  margin: 0;
  width: 140px;
  min-height: 38px;
}

.catalog {
  display: flex;
  justify-content: space-between;
}

/* Стили для каталога товаров */
.main_wrap {
  display: flex;
  justify-content: space-between;
}

.main-right {
  width: 700px;
}

/* Сортировка */
.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
	background-color: #f7f3ec;
	padding: 10px 19px 9px 16px;
  margin-bottom: 21px;
}

.sorting span {
  text-transform: uppercase;
}

.sorting_type {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 350px;
  margin-left: 90px;
}

.sorting_type_link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px dotted #ee3643;
  color: rgba(0, 0, 0, 0.3);
}

.sorting_type_link:hover {
  color: #000;
  border-bottom: 1px solid #ee3643;
}

.sorting_type_link-acive {
  color: #ee3643;
  border: none;
}

.sorting_up_down {
  width: 43px;
  display: flex;
  justify-content: space-between;
}

.sorting_up {
  width: 11px;
  height: 10px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10'%3e%3cpath fill='%23c5c5c5' d='M5.5 0L0 10h11z'/%3e%3c/svg%3e");
}

.sorting_up:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10'%3e%3cpath fill='%23000' d='M5.5 0L0 10h11z'/%3e%3c/svg%3e");
}

.sorting_down {
  width: 11px;
  height: 10px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10'%3e%3cpath fill='%23c5c5c5' d='M5.5 10L0 0h11'/%3e%3c/svg%3e");
}

.sorting_down:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10'%3e%3cpath fill='%23000' d='M5.5 10L0 0h11'/%3e%3c/svg%3e");
}

.sorting_up--active {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10'%3e%3cpath fill='%23ee3643' d='M5.5 0L0 10h11z'/%3e%3c/svg%3e");
}

.product_list {
  width: 700px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.product_item {
  position: relative;
  display: block;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
}

.product_item:hover {
  box-shadow: 0 10px 25px 0px rgba(41, 52, 73, 0.5);
  border-color: transparent;
}

.product_item__catalog:nth-child(3n) {
  margin-right: 0;
}

.product_item .flag {
  position: absolute;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  top: -1px;
  right: -1px;
}

.product_item .new_flag {
  background: url(../img/new-flag.png) no-repeat 0 0;
}

.product_item_img {
  width: 218px;
  height: 170px;
}

.product_item_img img {
  max-width: 95%;
  height: auto;
}

.product_item_title {
  font-family: "PT Sans", "Arial", sans-serif;
  min-height: 40px;
  padding: 0 40px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.product_item_discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #999;
  text-decoration: line-through;
}

.product_item_price {
  position: relative;
  width: 122px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.product_item_price::after {
  content: "";
  position: absolute;
  border: 20px solid white;
  border-left-color: #ee3643;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
}

.product_list_btn {
  position: absolute;
  width: 130px;
  height: 90px;
  left: 40px;
  top: 40px;
  background-color: rgba(255, 255, 255, 1);
}

.product_item_buy,
.product_item_bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.product_item_buy {
  box-shadow: 0 3px 0 0 #367315;
}

.product_item_bookmark {
  border: 3px solid #63a63e;
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.product_item_buy:hover {
  background-color: #5fbb2d;
}

.product_item_buy:active {
  box-shadow: 0 3px 0 0 #518534;
  background-color: #518534;
}

.product_item_bookmark:hover {
  border-color: #32425c;
}

.product_item_bookmark:active {
  color: rgba(50, 66, 92, 0.3);
  border-color: rgba(50, 66, 92, 0.3);
}

/* блок кнопок в карточке товара */
.product_item .product_list_btn {
  display: none;
}

.product_item:hover .product_list_btn {
  display: block;
}

/* Скрывает фото товара при наведении */
.product_item:hover .product_item_img {
  visibility: hidden;
}

.product_item__index {
  margin-right: 20px;
  margin-bottom: 0;
}

.pagination_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-top: 52px;
}

.pagination_item {
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.pagination_item:last-child {
  margin-right: 0;
}

.pagination_item a {
  display: block;
  width: 38px;
  height: 38px;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.pagination_item a:hover {
  border-color: #bdc6ca;
}

.pagination_item a:active {
  border-color: #ee3643;
}

.pagination_item_current {
  display: block;
  width: 38px;
  height: 38px;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: #ee3643;
  color: #fff;
}

.pagination_item_next a {
  padding-top: 10px;
  width: 140px;
  border-radius: 5px;
  text-transform: uppercase;
}

.pagination_item_next a:hover {
  border-color: #bdc6ca;
}

.pagination_item_next a:active {
  border-color: #ee3643;
}

.about_perforators {
  width: 100%;
  min-height: 261px;
  background-color: #f4f7f9;
  margin-top: 60px;
}

.about_perforators h3 {
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  padding-top: 67px;
  color: #000;
  text-transform: uppercase;
}

.about_perforators p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000;
  padding-top: 36px;
  padding-bottom: 73px;
}

/*
*
*
Модальные окна
*
*
*/
/* Модальное окно на странице Каталога */
.modal_buy {
  display: none;
}

.window_buy {
  width: 620px;
  height: 282px;
  border-top: 7px solid #ee3643;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -310px;
  margin-top: -141px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
  z-index: 100;
}

.window_buy_text {
  font-size: 30px;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

.window_buy__done {
  display: flex;
  height: 170px;
  align-items: center;
}

.window_buy__done img {
  margin-left: 81px;
  margin-right: 32px;
}

.window_buy__buttons {
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
  height: 112px;
  padding-top: 37px;
}

.modal_btn {
  display: block;
  width: 220px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 10px;
  background-color: #ee3643;
  margin-right: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.continue_shop_btn {
  background-color: #fff;
  color: #000;
}

/* Кнопка закрытия модального окна Покупи */
.window_buy__done::after {
  content: "";
  background: url(../img/icon-close.svg) no-repeat;
  width: 21px;
  height: 21px;
  cursor: pointer;
  position: absolute;
  top: 9px;
  right: 9px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Модальное окно Обратная связь */

.modal_wrap {
	display: none;
}

.modal_wrap_show {
	display: block;
}


.modal_writeus {
  width: 620px;
  height: 430px;
  background-color: #fff;
  border-top: 7px solid #ee3643;
  position: fixed;
  top: 50%;
  left: 50%;
	transform: translate(-50%, -50%);
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
  z-index: 100;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
	line-height: 18px;
}

.modal_close {
  content: "";
  background: url(../img/icon-close.svg) no-repeat;
  width: 21px;
  height: 21px;
  cursor: pointer;
  position: absolute;
  top: 9px;
  right: 9px;
  border: none;
}

.modal_inputs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  margin-bottom: 22px;
}

.window_writeus_input {
  width: 220px;
  display: flex;
  flex-direction: column;
}

.input_name {
  margin-left: 80px;
  margin-right: 20px;
}

.window_writeus_input label {
  margin-bottom: 13px;

}

.window_writeus_input input {
  width: 220px;
  height: 38px;
  padding-left: 16px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  border: 2px solid #d7dcde;
  outline: none;
}

.window_writeus_input input:hover {
  border: 2px solid #b5b5b5;
}

.window_writeus_input input:focus {
  border: 2px solid #ee3643;
}

.input_text {
  margin-left: 80px;
  margin-bottom: 37px;
}

.input_text textarea {
  width: 460px;
  height: 114px;
  padding-top: 13px;
  padding-left: 16px;
  border: 2px solid #d7dcde;
	outline: none;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

.input_text textarea:hover {
  border: 2px solid #b5b5b5;
}

.input_text textarea:focus {
  border: 2px solid #ee3643;
}

.modal_submit {
  background-color: #f4f4f4;
  padding: 37px 80px;
}

.writeus_submit {
  border: none;
  background-color: #ee3643;
  width: 460px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
}

