*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Cuprum", "Arial", sans-serif;
  /* font-family: 'PT Sans', sans-serif; */
  /*второй шрифт*/
  font-weight: normal;
}

.header {
  background-color: #f4f7f9;
}

/* Контейнер */
.container {
  width: 960px;
  margin: 0 auto;
}


/* стили верхнего бара */
.top_bar_wrap {
  background-color: #293449;
    padding: 0 10px;
}

.top_bar {
  display: flex;
  height: 42px;
  text-align: center;

}

.logo {
  display: block;
  width: 220px;
  height: 42px;
  background-color: #ee3643;
  color: #fff;
  text-align: center;
  margin-left: 10px;
  padding-top: 13px;
}

.logo img {
  height: 19px;
}

.logo:hover {
  background-color: #ca2c37;
}


.top_item_search {
  width: 270px;
  padding-top: 9px;
}


.top_item_link {
  display: block;
  width: 150px;
  height: 42px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding-top: 12px;
}


.top_item:hover {
  background-color: #212a3a;
}

.order_btn {
  width: 150px;
  font-size: 17px;
  line-height: 18px;
  text-decoration: none;
  color: #fff;
  background-color: #63a63e;
}

.order_btn:hover {
  background-color: #5fbb2d;
}

.order_btn:active {
  background-color: #518534;
}

/* блок контактов */
.header_main_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 47px;
  margin-top: 47px;
  margin-bottom: 47px;
}


.description {
  display: block;
  font-weight: normal;
  font-style: italic;
  font-size: 16px;
  color: #ee3643;
  line-height: 23px;
  width: 200px;
  margin: 0;
}

.header_contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.top_tel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 45px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #fff;
  padding: 0;
}

.top_adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

/* блок авторизации */



.header_login {
  display: flex;
  justify-content: flex-start;

}


.enter {
  width: 121px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up {
  width: 150px;
}

.enter,
.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  text-decoration: none;
  text-align: center;
  background-color: #fff;
  height: 45px;
  padding: 0 25px;
}

.enter:hover,
.sign-up:hover {
  color: #ee3643;
}

.enter:active,
.sign-up:active {
  color: rgba(0, 0, 0, 0.3);
}

/* основное меню */

.top_nav {
  background-color: #32425c;
  height: 60px;
  width: 940px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav_item {
  color: #fff;
  font-size: 17px;
  line-height: 17px;
  list-style: none;
  text-align: center;
}

.nav_link {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 31px;
}

.nav_item:hover {
  background-color: #293449;
}

.nav_item:active {
  background-color: #1d2739;
}

.nav_item a {
  text-decoration: none;
  color: #fff;
}

/* блок о компании */

.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.about_title {
  font-size: 30px;
  line-height: 30px;
  color: #000;
  margin-bottom: 39px;
}

.about_title p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 36px;
}

.about_map {
  margin-bottom: 40px;
  margin-top: 0;
}

.about_logistic {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about_logistic li {
  margin-bottom: 20px;
}

.about_logistic li:nth-child(3) {
  margin-bottom: 37px;
}

.red_btn {
  background-color: #ee3643;
  color: #fff;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;;
}

.about_btn {
  display: block;
  padding: 14px 40px 12px 41px;
  width: 300px;
}

.write_us {
  display: block;
  width: 300px;
  padding: 14px 59px 12px 63px;
}

/* Футер */

.footer {
  background-color: #32425c;
  height: 193px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
}

/* ВЕРХНЯЯ ЧАСТЬ ФУТЕРА */
.footer_top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 68px;
  margin-bottom: 32px;
  width: 940px;
}

.logo_link {
  display: block;
  width: 220px;
  height: 68px;
  background-color: #ee3643;
  font-size: 19px;
  padding: 20px 41px 25px 41px;
  margin-right: 173px;
}

.footer_menu_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
}

/* НИЖНЯЯ ЧАСТЬ ФУТЕРА */

.footer_bottom {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 940px;
  margin-bottom: 53px;
}

.footer_menu_bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
}

.footer_menu_top a,
.footer_menu_bottom a {
  text-decoration: none;
  color: #f1f5f7;
  margin-right: 60px;
}

.contacts_down {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  display: inline-block;
  margin-right: 93px;
  min-width: 330px;
  min-height: 40px;
}

.tel_down {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  text-decoration: none;
}

.footer_menu_bottom a {
  color: #ffd180;
}

/* Права и соц сети */



.rights {
  background-color: #293449;
  min-height: 107px;
}

.rights_wrap {
  display: flex;
  justify-content: space-between;
}

.rights_text {
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  margin: 0;
  min-width: 230px;
  margin-right: 160px;
}


/* иконки соц сетей */

.socials {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-right: 100px;
}

.social_link {
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
  margin-right: 3px;
}


/* Иконки соц сетей */
.vk_link {
  background-image: url(../img/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.fb_link {
  background-image: url(../img/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.inst_link {
  background-image: url(../img/icon-insta.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.feedback,
.developer {
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  min-width: 140px;
  margin-right: 50px;
}

.feedback a,
.developer a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
  text-decoration: none;
}


/* СТРАНИЦА ТОВАРОВ */

.cart {
  background-color: #ee3643;
}

/* Блок информации клиента */

.user {
  min-width: 300px;
  min-height: 45px;
  background-color: #fff;
  font-size: 21px;
  display: flex;
  align-items: center;
}

.user_name {
  display: block;
  text-decoration: none;
  text-align: center;
  margin-left: 48px;
  margin-right: 36px;
  position: relative;
}

.user_name::before {
  content: "";
  width: 21px;
  height: 17px;
  margin: 0;
  position: absolute;
  background-image: url(../img/icon-user.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 2px;
  left: -34px;
}

.user_logout {
  display: block;
  text-align: center;
}

.user_links {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  font-size: 16px;
}

.user_link_orders {
  margin-left: 19px;
  margin-right: 30px;
}


.my_orders,
.my_cabinet {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.bread_crumbs {
  list-style: none;
  width: 380px;
  display: flex;
  justify-content: space-between;
}

.bread_crumbs a {
  font-size: 13px;
  line-height: 18px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}


.title_main {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
}


/* Фильтр */
.catalog {
  display: flex;
  justify-content: space-between;
}



.filters {
  width: 220px;
}


.filter_developers {
  height: 265px;
}

.filter_power {
  height: 150px;
}

.filter_developers input,
.filter_power input {
  margin-bottom: 20px;
}

.product_list {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  list-style: none;
  width: 700px;
}

.product_item {
  width: 220px;
  height: 318px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 1px solid #e5e5e5;
}



.product_item:nth-child(3n) {
  margin-right: 0px;
}

.product,
.product_seria {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000;
}

.product_name a {
  text-decoration: none;
}


/* ЦЕНЫ */

.product_list del {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #999;
}

.new_price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  background-color: #ee3643;
  text-decoration: none;
}

.buy_btn {
  color: #fff;
  background-color: #63a63e;
  text-decoration: none;
}

.bookmark_btn {
  color: #32425c;
  border: 3px solid #63a63e;
  text-decoration: none;
}
